#name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}
.card-body img{
    width: 100%;
    height: 250px;
    object-fit: cover;
 
}
#logo{
    width: 100px;
    height: 60px;
    border-radius: 10%;
}
 .title{

     margin: 0;
     border-radius: 10px;
  
     font-family: cursive;

 }
 .card-body{
     border: 1px solid;
     border-radius: 10px;
     -webkit-box-shadow: 9px -9px 10px 2px rgba(189,176,189,1);
     -moz-box-shadow: 9px -9px 10px 2px rgba(189,176,189,1);
     box-shadow: 9px -9px 10px 2px rgba(189,176,189,1);
     transform: scale(1);
     transition: 0.3s;
     box-sizing: border-box;
     background-color: rgb(247, 218, 238);
     
 }

.prix{
    font-weight: bolder;
}
body{
    position: relative;
    padding-bottom: 72px;
    min-height: 100vh;
}

footer{
 position: absolute;
    bottom: 0;
    width: 100%;
}
 #main{
     display: grid;
     grid-template-columns: repeat(auto-fill,400px);
     gap:1vw;
     width: 90%;
     height: auto;
     padding: 2vw;
     margin-left: auto;
     margin-right: auto;
  
 }


 
 .card-body:hover{
transform: scale(1.02);
 }


#main a{
    color: inherit;
    text-decoration: none;
    list-style: none;   
}
a:hover{
    text-decoration: none;
    color: inherit;
  
}
.price-btn{
    display: flex;
    justify-content: space-between;
    margin-bottom:auto ;
}



@media screen and (max-width: 600px){
    #main{
        display: grid;
        grid-template-columns: repeat(auto-fill,100%);
        gap:2vw;
}
}
@media  screen and (min-width: 601px){
    #main{
        display: grid;
        grid-template-columns: repeat(auto-fill,48%);
        gap:2vw;
     
}
}

@media screen and (min-width: 1400px){
    #main{
        display: grid;
        grid-template-columns: repeat(auto-fill,350px);
        gap:2vw;
}
}
@media screen and (min-width: 1700px){
    #main{
        display: grid;
        grid-template-columns: repeat(auto-fill,500px);
        gap:2vw;
}
}
.card-product img{
    height: 100%;
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
}
.card-product{
    margin-top:2vw;
    margin-bottom: 2vw;
    height: 100%;
    transform: scale(1);
    display: flex;
    justify-content: space-between;
    
}
.card-product:hover {
    transform: scale(1);
}
#main-produit{
    display: flex;
  

}
.card-text-descreption{
    padding: 1vw;
    text-align: center;
}
.card-description{
    padding: 1vw;
}